.roblox_group {
  color: lightyellow;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  background-image: url(Exellium-WebsiteBackground.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
/*group button hover transition */
  transition: color 0.3s, transform 0.2s;
    /*glow effect*/
  box-shadow: 0 0 40px gray;
}

/* Group button hover transition */
.roblox_group:hover {
 color: black;
  transform: scale(1.05);
}

.home-page {
  color: lightyellow;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  background-image: url(Exellium-WebsiteBackground.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
/*group button hover transition */
  transition: color 0.3s, transform 0.2s;
    /*glow effect*/
  box-shadow: 0 0 40px gray;
}
/* Group button hover transition */
.home-page:hover {
 color: black;
  transform: scale(1.05);
}
body {
    background: url(Exellium-WebsiteBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    color: white
}

.qna-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid lightgoldenrodyellow;
    border-radius: 15px;
    box-shadow: 0 0 40px lightgoldenrodyellow;
}

p {
    color: white
}

.Q1 {
    text-align:left;
    border: 3px solid white;
    border-radius: 10px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: monospace;
    box-shadow: 0 0 40px;
    background: url(Exellium-WebsiteBackground.png) no-repeat center center cover;
    margin-bottom: 20px;
}

strong {
    color: white;
}

div {
    color: white
}

.Q1 hr {
    border: none;
    height: 5px;
    background-color: white;
    margin: 10px 0;
    color: white
}

.Q1 strong {
    font-size: 30px;
}

.still-dev {
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid rgb(242, 255, 124);
  border-radius: 15px;
  box-shadow: 0 0 40px;
  background: url(Screenshot\ 2025-06-16\ 035434.png) repeat center;
  text-align: center;
}

.discord_link {
  color: lightgoldenrodyellow;
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  /*group button hover transition */
  transition: color 0.3s, transform 0.2s;
  /*glow effect*/
  box-shadow: 0 0 40px gray;
  background-image: url(Exellium-WebsiteBackground.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

.discord_link:hover {
  color: black;
  transform: scale(1.05);
}
